@use '../../styles/global/function' as fn;
@use '../../styles/custom/media' as bp;

.posts {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include bp.bp(md) {
      gap: 40px;
    }
  }

  &__text {
    margin-bottom: 24px;
    color: fn.getColor(text, light);

    @include bp.bp(md) {
      margin-bottom: 12px;
    }
  }

  &__card {
    display: flex;
    gap: 160px;
    align-items: center;
    &:nth-of-type(even) {
      flex-direction: row-reverse;

      @include bp.bp(lg) {
        flex-direction: column-reverse;
      }
    }

    @include bp.bp(lg) {
      flex-direction: column-reverse;
      gap: 40px;
    }

    @include bp.bp(md) {
      flex-direction: column-reverse;
      gap: 16px;
    }
  }

  &__imgWrapper {
    position: relative;

    overflow: hidden;

    width: 550px;
    height: 450px;
    border-radius: 8px;

    background-color: #e0e0e0;

    @include bp.bp(lg) {
      width: 100%;
      margin: 0 auto;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 8px;

      object-fit: cover;
    }
  }

  &__group {
    flex: 1;
  }

  &__loading {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    @include bp.bp(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.skeleton {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
