.post__modal {
  &_label {
    display: flex;
  }
  &_form {
    &--preview {
      display: block;

      width: 60px;
      height: 40px;
      margin-left: 20px;
      border-radius: 8px;

      object-fit: cover;
      object-position: top;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
