@use '../../../styles/global/function' as fn;
@use '../../../styles/custom/media' as bp;

.posts {
  &__loading {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    @include bp.bp(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
