@use '../../styles/global/function' as fn;
@use '../../styles/custom/media' as bp;

.header {
  width: 100%;
  padding: 16px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sign {
    border: 1px solid fn.getColor(text, greenlight);
  }

  &__link {
    color: #000;
  }

  &__nav {
    display: flex;
    gap: 4px;
    border-radius: 20px;
    background-color: fn.getColor(bg, bgPurple);

    & [data-router-link-active] {
      border: 1px solid #dedede;
      color: fn.getColor(text, greenlight);
      background: #ffffff;
    }
  }

  &__logo {
    width: 180px;
    height: 40px;
    background-image: url('/src/assets/image/logo.svg');
    background-repeat: no-repeat;

    @include bp.bp(lg) {
      width: 100px;
      height: 20px;
      background-size: 80%;
    }

    @include bp.bp(sm) {
      width: 60px;
      height: 10px;
    }
  }
}
