$colors: (
  primary: (
    static: #4d774e,
    danger: #d30d0d,
    hover: #03cc06,
    active: #bbbbbb,
    dangerHover: #ff0000,
  ),

  secondary: (
    static: #ffffff,
    hover: #aaa,
    active: #ccc,
  ),

  bg: (
    main: #f5f5f5,
    light: #ffffff,
    darken: #dedede,
  ),

  text: (
    main: #000000,
    light: #ffffff,
    darken: #333333,
  ),
);
